
    <nav class="navbar px-3" role="navigation" aria-label="main navigation">
        <%#= link_to inline_svg_tag('icons/logo.svg'), root_path, class: "navbar-item no-background mr-5"%>
      <div class="is-flex is-justify-content-center is-align-items-center mx-3">
        <div class="is-size-4 has-text-weight-medium is-family-monospace">cappweb.</div><div class="has-text-weight-semibold is-size-3-desktop is-size-4-touch ">dev</div>
      </div>
      <div class="navbar-brand burger">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-nav">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="main-nav" class="navbar-menu">
        <div class="navbar-start is-centered">          
          <%= link_to 'Inicio', root_path, class: "navbar-item is-size-5" %>          
          <%#= link_to 'Quienes Somos', sobre_nosotros_path , class: "navbar-item is-size-5" %>

          <% @main_services.each do |service| %>
            <%= link_to service.name, main_service_path(service), class: "navbar-item is-size-5" %> 
          <% end %>

          <%= link_to 'Galerias', galerias_path, class: "navbar-item is-size-5" %>    
          <%= link_to 'Contacto', contacto_path, class: "navbar-item is-size-5" %>
          <% if cadmin_user_signed_in? %>
            <% if current_cadmin_user.role == 'admin' || current_cadmin_user.role == 'superadmin'  %>
              <%= link_to 'Admin web', albums_path, class: "navbar-item is-size-5" %>    
              <%= link_to 'Admin eventos' , cadmin.dashboard_path, class: "navbar-item is-size-5" %>
            <% end %>
          <% end %>
        </div>

        <div class="navbar-end">
               
          <div class="navbar-item">
            <%= render(SocialLinkComponent.new(href: WebConfig.first.url_facebook, name: 'facebook',ico: 'ico-facebook.svg'))%>
            <%= render(SocialLinkComponent.new(href: WebConfig.first.url_instagram, name: 'instagram',ico: 'ico-instagram.svg'))%>
            <%= render(SocialLinkComponent.new(href: WebConfig.first.url_twitter, name: 'tiwtter',ico: 'ico-twitter.svg'))%>
            <%= render(SocialLinkComponent.new(href: WebConfig.first.url_pinterest, name: 'pinterest',ico: 'ico-pinterest.svg'))%>
            <%= render(SocialLinkComponent.new(href: WebConfig.first.url_bodas_net, name: 'bodas_net',ico: 'ico-bodasnet.svg'))%>
            <% if cadmin_user_signed_in? %>
              <div class="is-flex is-justify-content-center mx-3">
                <%= link_to inline_svg('cadmin/icons/ico-shopping-cart.svg', size: '32'), cart_path, class:'is-clickable has-text-primary'%>
                <%= content_tag :div, @cart.cart_items.count, class:'tag is-rounded is-primary' if @cart.present? %>
              </div>
              <div class="control mx-2">
                <div class="tags has-addons">
                  <span class="tag is-dark-light is-large"><%= link_to  current_cadmin_user.name, cadmin.dashboard_path, class: 'has-text-primary' %><%= link_to "",  cadmin.logout_path, method: :delete, class: 'delete' %></span>
                  
                </div>
              </div>
            <%else%>
              <div class="is-flex is-justify-content-center mx-3">
                <%= link_to inline_svg('cadmin/icons/ico-shopping-cart.svg', size: '32'), cadmin.login_path, class:'is-clickable has-text-primary'%>
              </div>
              <%= link_to image_tag('icons/ico-login.svg', class: 'icon is-medium'), cadmin.login_path %>
            <% end %> 
          </div>
        </div>
      </div>
    </nav>
    <div class="clearfix"></div>