<div class="container">
  <div class="columns is-multiline is-mobile is-flex-direction-row is-justify-content-space-between">
    <div class="column is-8-desktop is-12-touch">
      <% if @cart.cart_items.empty?  %>
        <div class="column is-12">
          Aun no has añadido items a tu cesta <br>
          <%= link_to 'Seguir comprando', root_path, class: 'button is-success is-medium' %>
        </div>
      <% else %>
        <% @cart.cart_items.each do |item|%>
          <div class="column is-12">
            <div class="card is-flex">
              <div class="card-image p-3">
                <figure class="image is-96x96">                  
                  <% if item.service_image_url.present? %>
                    <%= image_tag item.service_image_url %>
                  <% else %>
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                  <% end %>                  
                </figure>
              </div>
              <div class="media-content is-flex is-justify-content-space-evenly is-align-items-center mx-4">
                <div class="title is-4 is-flex-shrink-1 is-fullwidth py-3"><%= item.service_name%></div>
                <div class="subtitle is-6 is-flex-shrink-1 is-fullwidth"><%= item.service_short_dscription %></div>
                <div class="mx-4 is-flex-shrink-1 is-fullwidth"><%= number_to_currency item.service_price %></div>
                
                <%= button_to 'Eliminar',cadmin.cart_item_path(Cadmin::CartItem.find(item.id)), method: :delete, data: { controller: "swal", action: "click->swal#fire", swal_options_value: default_swal_options,turbo_frame: "_top" }, class:"tag is-medium is-danger is-flex-shrink-1" %>
              </div>
            </div>
          </div>         
        <% end %>
      <% end %>
    </div>
    <div class="column is-4-desktop is-12-touch">
      <div class="is-flex is-flex-direction-column">
        Total: <%= number_to_currency  @total_cart_amount %>
        <hr>
        Total: <%= pluralize @cart.cart_items.count, 'servicio', plural: 'servicios' %>
        <hr>  
        <%= link_to 'Completar reserva', cadmin.new_event_path, class: 'button is-primary is-medium mt-4' unless @cart.cart_items.empty? %>
        
      </div>
    </div>  
  </div>
</div>