<%= turbo_frame_tag :web_album do %>
  <div class="container">  
    <h1 class="title is-1 has-text-centered py-6"> <%= @album.title %></h1>
  </div>
  
  <div class="container my-3">  
    <div class="is-hidden-tablet">
      <%== pagy_bulma_nav(@pagy)%> 
    </div>
    <div class="columns is-multiline">
      <% @gallery.each do |imagen| %>
        <div class="column is-3-desktop is-6-tablet is-12-mobile">
          <div class="images">
            <%=link_to image_tag(url_for(imagen)), url_for(imagen), data: {src: "#{rails_blob_url(imagen)}"}, target:"_blank", class:"col-light is-5by3"%>
          </div>
        </div>
      <% end %>
    </div>
    <%== pagy_bulma_nav(@pagy)%> 
  </div>
<% end %>